{% extends 'layout.html' %}

{% block title %}
    {{ book.name }} - Content
{% endblock %}


{% block style %}
    <style>
        .content-container {
            width: 100%; 
            overflow-y: auto; 
        }

        .content-text {
            white-space: pre-wrap; 
            word-wrap: break-word; 
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Book Name:   {{ book.name }}</h1>
    <p><strong>Book Authors:   </strong> {{ book.authors }}</p>
    <div class="content-container">
    <p><strong>Content:  </strong></p>
        <pre class="content-text">{{ book.content }}</pre>
    </div>
{% endblock %}

