{% extends 'layout.html' %}

{% block title %}
    Book Detail
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ book.name }}</h1>
            <p><b>Section:</b> {{ book.section.name }}</p>
            <p><b>Description:</b> {{ book.section.description }}</p>
            <p><b>Authors:</b> {{ book.authors }}</p>
            <p><b>Upload Date:</b> {{ book.book_upload_date.strftime('%Y-%m-%d') }}</p>
            <p><b>Average Rating:</b> {{ book.book_rating }}</p>
            <form action="{{ url_for('book_request_post', book_id=book.id) }}" method="post">
                <div class="form-group">
                    <label for="requested_day">Number of Days:</label>
                    <input type="number" name="requested_day" class="form-control" placeholder="Enter number of days" required>
                </div>
                <button type="submit" class="btn btn-info">Order Now</button>
            </form>
            <br>
            <br>
            <p><b>Feedback:</b></p>
            <ul>
                {% for feedback in feedbacks %}
                    <b>{{feedback.user.username}}</b>
                    <p>- {{ feedback.feedback }}</p>
                {% endfor %}
            </ul>
        </div>
    </div>

    

    
</div>
{% endblock %}
