{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    {% include 'searchbar.html' with context %}
    <hr>
    <div class="sections-list">
        {% for section in sections %}
            <h2>{{ section.name }} </h2> 
            <div class="books">
                {% for book in section.books %}
                    {% if (not bname or bname.lower() in book.name.lower()) and (not aname or aname.lower() in book.authors.lower()) %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.name }}</h5>
                            <p>  <b>Author:</b>   {{ book.authors }}</p>                            
                            <p class="card-text"> Rating:   {{ book.book_rating }}</p>
                            <p class="card-text"> Upload Date : {{book.book_upload_date}}</p>

                            <form action="{{url_for('book_request_post', book_id = book.id) }}" method="post">
                                <div class="mb-3">
                                    <label for="requested_day">Number of Days:</label>
                                    <input type="number" name="requested_day" class="form-control" placeholder="Enter number of days" required>
                                </div>
                                <input type="hidden" name="book_id" value="{{ book.id }}">
                                <button type="submit" class="btn btn-info">Send Request</button>
                            </form>

                            
                        </div>
                    </div>
                    {%endif%}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}




{% block style %}
<style>
    .sections-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .books {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        margin: 10px;
    }
</style>
{% endblock %}

