{% extends 'layout.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    {% include 'searchbar.html' with context %}

    <hr>
    <div class="sections-list">
        {% for section in sections %}
            <h2>{{ section.name }} </h2> 
            <div class="books">
                {% for book in section.books %}
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.name }}</h5>
                            <p>  <b>Author:</b>   {{ book.authors }}</p>
                            

                            <form action="#" method="post">
                                <div class="mb-3">
                                    <label for="days">Days:</label>
                                    <input type="number" name="days" class="form-control" placeholder="Number of days" required>
                                </div>
                                <input type="hidden" name="book_id" value="{{ book.id }}">
                                <button type="submit" class="btn btn-info">Send Request</button>
                            </form>
                            

    
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>

{% endblock %}




{% block style %}
<style>
    .sections-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .books {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        margin: 10px;
    }
</style>
{% endblock %}

