{% extends 'layout.html' %}

{% block title %}
    Librarian Dashboard
{% endblock %}

{% block content %}
<h1 class="display-1">Librarian Dashboard</h1>
<table class="table">
    <thead>
        <tr>
            <th>Section Name</th>
            <th>Upload Date</th>
            <th>No of Books</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for section in sections %}
        <tr>
            <td>{{section.name}}</td>
            <td>{{section.date_created.strftime('%Y-%m-%d')}}</td>
            <td>{{section.books|length}}</td>
            <td>
                <a href="{{url_for('show_section', id=section.id)}}" class="btn btn-warning">
                    Show Books
                </a>
                <a href="{{url_for('edit_section', id=section.id)}}" class="btn btn-secondary">
                    
                    Edit
                </a>
                <a href="{{url_for('delete_section', id=section.id)}}" class="btn btn-danger">
                    Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
