<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12">
            <form action="" method="GET">
                <div class="input-group">
                    <input type="text"
                    name="sname" 
                    id="sname" 
                    
                    class="form-control" 
                    placeholder="Section">

                    <input type="text" 
                    name="bname" 
                    id="bname" 
                    
                    class="form-control" 
                    placeholder="Book name">

                    <input type="text" 
                    name="aname" 
                    id="aname" 
                    
                    class="form-control" 
                    placeholder="Author name">
                    
                    <button class="btn btn-info" type="submit">
                        Search
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
