{% extends 'layout.html' %}

{% block title %}
    Book Requests
{% endblock %}



{% block content %}


<h3>Book Requests</h3>


<table class="table">
    <thead>
        <tr>
            <th>Book</th>
            <th>Username</th>
            <th>Request Date</th>
            <th>No of days</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        {% if request.status == 'Pending' %}
        
        <tr>
            <td>{{ request.book.name }}</td>
            <th>{{request.user.username}}</th>
            <td>{{ request.request_date.strftime('%Y-%m-%d') }}</td>
            <td>{{ request.requested_day }}</td>
            <td>
                <span style="background-color: rgb(255, 244, 127);">{{request.status}}</span></td>
            <td>
                <div class="btn-group">
                    <form action="{{ url_for('process_request', request_id=request.id, action='grant') }}" method="post">
                        <button type="submit" class="btn btn-success">Grant</button>
                    </form>
                    <form action="{{ url_for('process_request', request_id=request.id, action='reject') }}" method="post">
                        <button type="submit" class="btn btn-danger">Reject</button>
                    </form>
                </div>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>





<h3>Book Granted</h3>

<table class="table">
    <thead>
        <tr>
            <th>Book</th>
            <th>Username</th>
            <th>Request Date</th>
            <th>No of days</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
        {% if request.status == 'Granted' %}
        
        <tr>
            <td>{{ request.book.name }}</td>
            <th>{{request.user.username}}</th>
            <td>{{ request.issued_date.strftime('%Y-%m-%d')}}</td>
            <td>{{ request.requested_day }}</td>
            <td>
                <span style="background-color: rgb(255, 244, 127);">{{request.status}}</span></td>
            <td>
                <div class="btn-group">
                    <form action="{{ url_for('process_request', request_id=request.id, action='reject') }}" method="post">
                        <button type="submit" class="btn btn-danger">Revoke</button>
                    </form>
                </div>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
