<!-- {% extends 'layout.html' %}

{% block title %}
    Send Request
{% endblock %}

{% block content %}
    <h1>Send Request</h1>
    <form action="{{ url_for('book_request_post') }}" method="POST">
        
        <div class="mb-3">
            <label for="days" class="form-label">Number of Days</label>
            <input type="number" class="form-control" id="days" name="days" required>
        </div>
        <button type="submit" class="btn btn-info">Send Request</button>
    </form>
{% endblock %} -->
